* {
 
  padding: 0% 2px;

}


#enquireButton{
  float: right;
  display: flex;
  margin: 2px;
}
.enquireContainer{
margin-top: -15px;
}

p{
  color: rgb(114, 114, 114);
}

.btn:hover{
  background-color: rgba(226, 7, 7, 0.85);
  color: rgb(254, 249, 249);
  
}
a{
  color: rgba(250, 181, 31, 0.867);
}
a:hover{
  color: rgba(34, 33, 33, 0.79);
}
#textAbout{
  margin-top: -30px;
}
#TextHeader{
  text-transform: uppercase;
  font-weight: 800;
  opacity: .6;
}
#coverJumb{
  display: block;
  
  margin: auto;
  padding: 5px;
  background-color: rgba(254, 177, 43, 0.922);
  color:rgba(255, 255, 255, 0.897);
  font-weight: 400;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.819);
}
#coverJumb  {
    
  animation: 3s ease-in-out 1s infinite reverse both running slidein;
}

@keyframes animation {
  0% {
    box-shadow: 0 0 0 1px rgba(219, 219, 219, 0.729);
  }
  100% {
    box-shadow: 0 5px 10px 1px rgba(19, 20, 21, 0.754);
  }
}